---
import Layout from '../layouts/Layout.astro';
import PageSeo from "../components/PageSeo.astro";
import "../styles/pages/home.css";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import backgroundImg from "../assets/hero-bg.png";
import pfitzinger from "../assets/pfitzinger.png";
import tbaRunner from "../assets/tba-runner.jpg";
import arrowRightWhite from "../assets/arrow-right-w.svg?raw";
import arrowRightBlack from "../assets/arrow-right-b.svg?raw";

const { homePage = {} } = Astro.props;
homePage.title = "Run Essentials";
homePage.description =
	"Run Essentials, your go-to resource for all things running.";
---

<PageSeo slot="head" page={homePage}/>
<Layout slot="body"title={homePage.title} >
	<Header />
	<main>
		<section class="hero">
			<div class="hero__main grid--2 gutter">
				<div class="hero__content">
					<h1 class="hero__title">All things running.</h1>
				</div>
				<div class="hero__media">
					<Image class="hero__img" src={backgroundImg} alt="Person running up stairs."/>
				</div>
			</div>
		</section>

		<section class="paragraph grid gutter">
			<p class="paragraph__text f-400-2">
				Run Essentials, your go-to resource for all things running. Our website features a variety of running-related calculators, including the Pfitzinger Marathon Pace Calculator, as well as useful tools like pace conversion. Whether you're training for a marathon or just looking to improve your daily runs, our tools are designed to help you reach your goals.
			</p>
		</section>

		<section id="calculators" class="calculators">
			<div class="grid">
				<p class="calculators__subtitle">Pace Calculators (1)</p>
			</div>
			<div class="calculators__items grid--3">
				<div class="calculators__item">
					<a class="calculators__link flex-between" href="/pfitzinger-calculator">
						<span class="calculators__count gutter">A</span>
						<div class="calculators__cta f-400-2 gutter flex-between">
							<span>Pfitzinger</span>
							<Fragment class="calculators__arrow" set:html={arrowRightWhite} />
						</div>
					</a>
					<div class="calculators__background">
						<Image class="calculators__img" src={pfitzinger} alt="Pete Pfitzinger running."/>
					</div>
				</div>
				<div class="calculators__item calculators__item--disabled">
					<div class="calculators__link calculators__link--disabled flex-between">
						<span class="calculators__count gutter">B</span>
						<div class="calculators__cta f-400-2 gutter flex-between">
							<span>TBA</span>
							<span class="calculators__tba">Coming soon</span>
						</div>
					</div>
					<div class="calculators__background">
						<Image class="calculators__img" src={tbaRunner} alt="Anonymous runner."/>
					</div>
				</div>
				<div class="calculators__item calculators__item--disabled">
					<div class="calculators__link calculators__link--disabled flex-between">
						<span class="calculators__count gutter">C</span>
						<div class="calculators__cta f-400-2 gutter flex-between">
							<span>TBA</span>
							<span class="calculators__tba">Coming soon</span>
						</div>
					</div>
					<div class="calculators__background">
						<Image class="calculators__img" src={tbaRunner} alt="Anonymous runner."/>
					</div>
				</div>
			</div>
		</section>

		<section class="converter">
			<div class="grid">
				<div class="converter__subtitle">
					<p class="f-600">Pace Converter</p>
					<p class="f-400">Metric ⇄ Imperial</p>
				</div>
			</div>
			<div class="converter__converter">
				<form id="pace-converter" class="converter__form">
					<div class="grid--2">
						<div class="converter__unit">
							<label for="minKm">Pace (min/km):</label>
							<input type="text" id="minKm" placeholder="(mm:ss)" pattern="\d{1,2}:\d{2}" title="Enter time in (mm:ss) format">
						</div>
						<div class="converter__unit">
							<label for="minMile">Pace (min/mile):</label>
							<input type="text" id="minMile" placeholder="(mm:ss)" pattern="\d{1,2}:\d{2}" title="Enter time in (mm:ss) format">
						</div>
					</div>
				</form>
				<div class="grid gutter">
					<a class="converter__cta cta flex-between" href="/pace-conversion">
						<span>See full conversion table</span>
						<Fragment set:html={arrowRightBlack} />
					</a>
				</div>
			</div>
		</section>
	</main>
	<Footer />
	<script src="../scripts/pages/home.js"></script>
</Layout>